<nav class="main-nav navbar fixed-top">
    <ul>
        <li>
            <div class="content_img">
                <a th:href="@{/}">
                    <img src="/images/home.png" width="130" height="65">
                </a>
                <div>home</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/countrylist}">
                    <img src="/images/countries.png" width="130" height="65">
                </a>
                <div>countries</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/vehiclelist}">
                    <img src="/images/vehicles.png" width="130" height="65">
                </a>
                <div>vehicles</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/vendorlist}">
                    <img src="/images/vendors.png" width="130" height="65">
                </a>
                <div>vendors</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/leasinglist}">
                    <img src="/images/leasing.png" width="130" height="65">
                </a>
                <div>leasings</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/invoicelist}">
                    <img src="/images/invoice.png" width="130" height="65">
                </a>
                <div>invoices</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/paymentlist}">
                    <img src="/images/payments.png" width="130" height="65">
                </a>
                <div>payments</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/users/register}">
                    <img src="/images/register.png" width="130" height="65">
                </a>
                <div>register</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/users/login}">
                    <img src="/images/login.png" width="130" height="65">
                </a>
                <div>login</div>
            </div>
        </li>
        </li>
            <form th:action="@{/users/logout}" th:method="post">
                <div class="content_img">
                    <input class="btn btn-link nav-link" type="image" src="/images/logout.png" alt="Submit" value="Logout">
                    <div>logout</div>
                </div>
            </form>
        </li>
    </ul>
</nav>