<nav class="main-nav navbar fixed-top">
    <ul>
        <li>
            <form th:method="get">
                <span th:text="#{index_language}" for="lang"></span>
                <select
                        onchange="this.form.submit()"
                        id="lang"
                        name="lang">
                    <option value="en_US" th:selected="${#locale.toString()} == 'en_US'">English</option>
                    <option value="bg_BG" th:selected="${#locale.toString()} == 'bg_BG'">Български</option>
                </select>
            </form>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/}">
                    <img src="/images/home.png" width="130" height="65">
                </a>
                <div th:text="#{index_home}">home</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/countrylist}">
                    <img src="/images/countries.png" width="130" height="65">
                </a>
                <div th:text="#{index_countries}">countries</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/vehiclelist}">
                    <img src="/images/vehicles.png" width="130" height="65">
                </a>
                <div th:text="#{index_vehicles}">vehicles</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/vendorlist}">
                    <img src="/images/vendors.png" width="130" height="65">
                </a>
                <div th:text="#{index_vendors}">vendors</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/leasinglist}">
                    <img src="/images/leasing.png" width="130" height="65">
                </a>
                <div th:text="#{index_leasings}">leasings</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/invoicelist}">
                    <img src="/images/invoice.png" width="130" height="65">
                </a>
                <div th:text="#{index_invoices}">invoices</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/paymentlist}">
                    <img src="/images/payments.png" width="130" height="65">
                </a>
                <div th:text="#{index_payments}">payments</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/users/register}">
                    <img src="/images/register.png" width="130" height="65">
                </a>
                <div th:text="#{index_register}">register</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/users/login}">
                    <img src="/images/login.png" width="130" height="65">
                </a>
                <div th:text="#{index_login}">login</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/permissionlist}">
                    <img src="/images/permission.png" width="130" height="65">
                </a>
                <div th:text="#{index_permissions}">permissions</div>
            </div>
        </li>
        <li>
            <div class="content_img">
                <a th:href="@{/userpermissionlist}">
                    <img src="/images/userpermission.png" width="130" height="65">
                </a>
                <div th:text="#{index_userpermissions}">user permissions</div>
            </div>
        </li>
        <li>
            <form th:action="@{/users/logout}" th:method="post">
                <div class="content_img">
                    <input class="btn btn-link nav-link" type="image" src="/images/logout.png" alt="Submit" value="Logout">
                    <div th:text="#{index_logut}">logout</div>
                </div>
            </form>
        </li>
    </ul>
</nav>



