<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Error page</title>
        <th:block th:replace="~{/fragments/head}"></th:block>
    </head>
    <body>
        <form class="main-form text-white">
            <h2 class="text-center" th:text="#{error_403}">You are not allowed to access the selected page !</h2>
            <h2 class="text-center">
                <a th:href="@{/}" th:text="#{go_home}">Go to home page!</a>
            </h2>
        </form>
    </body>
</html>