<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lease calculator</title>
        <th:block th:replace="~{/fragments/head}"></th:block>
    </head>

    <body>
         <div class="container">
    <h2 class="text-center text-white">Login</h2>
    <form
            th:action="@{/users/login}"
            th:method="POST"
          class="main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
        <div class="form-group">
            <label for="username" class="text-white font-weight-bold">Username</label>
            <input id="username"
                   th:value="${username}"
                   name="username"
                   type="text"
                   min="2" max="50"
                   class="form-control"/>
        </div>
        <div class="form-group">
            <label for="password" class="text-white font-weight-bold">Password</label>
            <input  id="password"
                    name="password"
                    type="password"
                    min="2" max="20"
                    class="form-control"/>
            <p th:if="${badcredentials}" class="errors alert alert-danger">
                Invalid username or password.
            </p>

        </div>
        <div class="modal-footer">
            <button id="savecard" class="btn btn-primary" type="submit">Login</button>
            <a id="cancelcard" class="btn btn btn-secondary" type="button" th:href="@{/}">Cancel</a>
        </div>

    </form>
</div>
        <div>
            <footer> </footer>
        </div>
    </body>
</html>
