<th:block>
    <div id="userpermissionlist" class="container" th:if="${hideCard}">
        <h2 class="text-center text-dark" th:text="#{user_permission_list_title}">User Permission list</h2>
        <form
                th:action="@{/userpermissionlist}"
                th:method="post"
                class="main-form text-white">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr class="ui-icon-key">
                        <th th:text="#{table_actions}">actions</th>
                        <th th:text="#{permission_id}">ID</th>
                        <th th:text="#{login_username}">User</th>
                        <th th:text="#{user_permission_permission}">Permission</th>
                        <th th:text="#{user_permission_read}">Read</th>
                        <th th:text="#{user_permission_insert}">Insert</th>
                        <th th:text="#{user_permission_update}">Update</th>
                        <th th:text="#{user_permission_delete}">Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="block" th:each="regionList : ${userpermissionList}">
                        <td>
                            <a type="button" class="btn btn-link"
                               th:href="@{/userpermissioncard/{id}(id=${regionList.getId()})}">
                                <img class="img_action" src="/images/edit.png">
                            </a>
                            <a type="button" class="btn btn-link"
                               th:href="@{/deleteuserpermissioncard/{id}(id=${regionList.getId()})}">
                                <img class="img_action" src="/images/delete.png">
                            </a>
                        </td>
                        <td th:text="${regionList.getId()}"/>
                        <td th:text="${regionList.getUsername()}"/>
                        <td th:text="${regionList.getDescription()}"/>
                        <td>
                            <input th:type="checkbox" th:checked="${regionList.isReadSet()}"/>
                        </td>
                        <td>
                            <input th:type="checkbox" th:checked="${regionList.isInsertSet()}"/>
                        </td>
                        <td>
                            <input th:type="checkbox" th:checked="${regionList.isEditSet()}"/>
                        </td>
                        <td>
                            <input th:type="checkbox" th:checked="${regionList.isDeleteSet()}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a id="newcard" class="key btn btn-lg" th:href="@{/userpermissioncard}" th:text="#{button_new}">New</a>
                <a id="card" class="btn btn btn-secondary" th:href="@{/}" th:text="#{button_close}">Close</a>
            </div>
        </form>
    </div>
</th:block>