<th:block>
    <div id="payofflist" class="container" th:if="${showPay}">
        <h2 class="text-center text-dark">Payoff list</h2>
        <form
                th:action="@{/payofflist}"
                th:method="post"
                class="text-white main-form">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr class="ui-icon-key">
                        <th>actions</th>
                        <th>Month</th>
                        <th>Due Date</th>
                        <th>Principal</th>
                        <th>Interest</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="block" th:each="List : ${ListPay}">
                        <td>

                        </td>
                        <td th:text="${List.getMonth()}"/>
                        <td th:text="${List.getDueDate()}"/>
                        <td th:text="${List.getPrincipalExclVat()}"/>
                        <td th:text="${List.getInterestExclVat()}"/>
                    </tr>
                    </tbody>
                </table>
            </div>
            <small id="error" class="text-white" th:if="${hasError}" th:text="${deleteError}">
                error
            </small>
            <div class="modal-footer">
                <a id="cancellist" class="key btn btn-secondary" th:href="@{/leasecard/{code}(code=${List.getContractNo()})}">Close</a>
            </div>
        </form>
    </div>
</th:block>