<th:block>
    <div id="payofflist" class="container" th:if="${showPay}">
        <h2 class="text-center text-dark">Payoff list</h2>
        <form
                th:action="@{/payofflist}"
                th:method="post"
                class="text-white main-form">
            <div class="table-responsive tableLarge">
                <table th:disabled="${readonly}" class="table table-striped table-bordered">
                    <thead>
                        <tr class="ui-icon-key">
                            <th>Month</th>
                            <th>Due Date</th>
                            <th>Principal</th>
                            <th>Interest</th>
                            <th>Invoiced principal</th>
                            <th>Amount invoiced principal</th>
                            <th>Payed principal</th>
                            <th>Amount payed principal</th>
                            <th>Invoiced interest</th>
                            <th>Amount invoiced interest</th>
                            <th>Payed interest</th>
                            <th>Amount payed interest</th>
                            <th>Remaining Excl VAT</th>
                            <th>Remaining Incl VAT</th>
                        </tr>
                    </thead>
                    <div th:if="${hasError}" class="errors alert alert-danger">
                         <div th:each="err: ${listErrors}"
                             th:text="${err}"/>
                    </div>
                    <tbody>
                        <tr class="block" th:each="List : ${ListPay}">
                            <td th:text="${List.getMonth()}"/>
                            <td th:text="${List.getDueDate()}"/>
                            <td th:text="${List.getPrincipalExclVAT()}"/>
                            <td th:text="${List.getInterestExclVAT()}"/>
                            <td>
                                <input th:type="checkbox" th:checked="${List.isInvoicedPrincipal()}"/>
                            </td>
                            <td th:text="${List.sumInvoicedPrincipalExclVAT()}"/>
                            <td>
                                <input th:type="checkbox" th:checked="${List.isPayedPrincipal()}"/>
                            </td>
                            <td th:text="${List.sumPayedPrincipalInclVAT()}"/>
                            <td>
                                <input th:type="checkbox" th:vchecked="${List.isInvoicedInterest()}"/>
                            </td>
                            <td th:text="${List.sumInvoicedInterestExclVAT()}"/>
                            <td>
                                <input th:type="checkbox" th:checked="${List.isPayedInterest()}"/>
                            </td>
                            <td th:text="${List.sumPayedInterestInclVAT()}"/>
                            <td th:text="${List.getRemainingPrincipalExclVAT()}"/>
                            <td th:text="${List.getRemainingPrincipalInclVAT()}"/>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <a id="cancellist" class="key btn btn-secondary" th:href="@{/leasecard/{code}(code=${contractNo})}">Close</a>
            </div>
        </form>
    </div>
</th:block>