<th:block>
  <div id="permissionlist" class="container" th:if="${hideCard}">
    <h2 class="text-center text-dark" th:text="#{permission_list_title}">Permission list</h2>
    <form
            th:action="@{/permissionlist}"
            th:method="post"
            class="main-form text-white">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
          <tr class="ui-icon-key">
            <th th:text="#{table_actions}">actions</th>
            <th th:text="#{permission_id}">Id</th>
            <th th:text="#{permission_description}">Description</th>
            <th th:text="#{permission_type}">Type</th>
          </tr>
          </thead>
          <tbody>
          <tr class="block" th:each="regionList : ${permissionList}">
            <td>
              <a type="button" class="btn btn-link"
                 th:href="@{/permissioncard/{id}(id=${regionList.getId()})}">
                <img class="img_action" src="/images/edit.png">
              </a>
              <a type="button" class="btn btn-link"
                 th:href="@{/deletepermissioncard/{id}(id=${regionList.getId()})}">
                <img class="img_action" src="/images/delete.png">
              </a>
            </td>
            <td th:text="${regionList.getId()}"/>
            <td th:text="${regionList.getDescription()}"/>
            <td th:text="${regionList.getPermissionType()}"/>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <a id="newcard" class="key btn btn-lg" th:href="@{/permissioncard}" th:text="#{button_new}">New</a>
        <a id="card" class="btn btn btn-secondary" th:href="@{/}" th:text="#{button_close}">Close</a>
      </div>
    </form>
  </div>
</th:block>