<th:block>
    <div id="leasedetailcard" class="container" th:if="${showDetailCard}">
        <h2 class="text-center text-dark" th:text="#{lease_detail_card}">Lease detail card</h2>
        <form
                th:action="@{/leasedetailcard}"
                th:method="post"
                th:object="${leaseDetailDTO}"
                class="text-white main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
            <div class="row">
                <input class="td-hide" id="contractNo" th:field="*{contractNo}"/>
                <input class="td-hide" id="lineNo" th:field="*{lineNo}"/>
                <div class="form-group col-md-6 mb-3">
                    <label for="vehicleNo" class="font-weight-bold" th:text="#{vehicle_no}">Vehicle No.</label>
                    <div class="input-group">
                        <div class="input-group-text arrow icon-down"
                             onclick="CreateLookupVehicle(document.getElementById('vehicleNo').value,
                                                          document.getElementById('leasedetailcard'))"></div>
                        <input id="vehicleNo"
                               class="form-control"
                               type="text"
                               th:errorclass="is-invalid"
                               th:field="*{vehicleNo}"
                               placeholder="Vehicle No."
                               oninput="SearchVehicle(document.getElementById('vehicleNo').value,
                                                      document.getElementById('leasedetailcard'))"/>
                               <!--
                               onblur="HideLookup()"
                               -->

                    </div>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="numberPlate" class="font-weight-bold" th:text="#{vehicle_plate}">Number Plate</label>
                    <input id="numberPlate"
                           th:field="*{numberPlate}"
                           type="text"
                           class="form-control"
                           readonly="readonly"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 mb-3">
                    <label for="principalExclVat" class="font-weight-bold" th:text="#{lease_principal_excl}">Principal Excl Vat</label>
                    <input id="principalExclVat"
                           th:field="*{principalExclVat}"
                           type="number"
                           step="0.01"
                           class="form-control">
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="principalInclVat" class="font-weight-bold" th:text="#{lease_principal_incl}">Principal Incl Vat</label>
                    <input id="principalInclVat"
                           th:field="*{principalInclVat}"
                           type="number"
                           step="0.01"
                           class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button id="savedetailcard" class="btn btn-primary" type="submit" th:text="#{button_save}">Save</button>
                <a id="canceldetailcard" class="btn btn btn-secondary" type="button"
                   th:href="@{/leasecard/{code}(code=${leaseDetailDTO.contractNo})}"
                th:text="#{button_cancel}">Cancel</a>
            </div>
        </form>
    </div>
</th:block>