<th:block>
    <div id="leasecard" class="container" th:if="${showCard}">
        <h2 class="text-center text-danger" th:text="#{lease_card_title}">Lease Card</h2>
        <form
                th:action="@{/leasecard}"
                th:method="post"
                th:object="${leaseCardDTO}"
                class="text-white main-form mx-auto col-md-12 d-flex flex-column justify-content-center">
            <input class="td-hide" id="source_lookup_id"/>
            <div th:if="${hasError}" class="errors alert alert-danger">
                <p th:text="#{has_errors}">Has errors:</p>
                <div th:each="err: ${listErrors}"
                     th:text="${err}"/>
            </div>
            <ul class="nav nav-tabs mt-5">
                <li class="nav-item"><a href="#page1" class="nav-link active"
                                        data-bs-toggle="tab" th:text="#{lease_page_general}">General</a></li>
                <li class="nav-item"><a href="#page2" class="nav-link"
                                        data-bs-toggle="tab" th:text="#{lease_page_period}">Periods</a></li>
                <li class="nav-item"><a href="#page3" class="nav-link"
                                        data-bs-toggle="tab" th:text="#{lease_page_amount}">Amounts</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="page1">
                    <div class="row">
                        <div class="form-group col-md-3 mb-3">
                        <label for="contractNo" class="font-weight-bold" th:text="#{lease_no}">Contract No.</label>
                        <input id="contractNo"
                               th:name="contractNo"
                               th:field="*{contractNo}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control"
                               placeholder="Contract No."/>
                        <small
                                id="contractNoHelpInline"
                                class="invalid-feedback bg-danger text-light rounded">
                            Contract No. is mandatory or maximum 20 characters
                        </small>
                    </div>
                        <div class="form-group col-md-3 mb-3">
                        <label for="contractDate" class="font-weight-bold" th:text="#{lease_contract_date}">Contract Date</label>
                        <input id="contractDate"
                               th:name="contractDate"
                               th:field="*{contractDate}"
                               th:errorclass="is-invalid"
                               type="date"
                               class="form-control"
                               placeholder="Contract Date"/>
                        <small
                                id="contractDateHelpInline"
                                class="invalid-feedback bg-danger text-light rounded">
                            Invalid contract date
                        </small>
                    </div>
                        <div class="form-group col-md-3 mb-3">
                        <label for="vendorNo" class="font-weight-bold" th:text="#{vendor_no}">Vendor No.</label>
                        <div class="input-group">
                            <div class="input-group-text arrow icon-down" onclick="CreateLookupVendor(document.getElementById('vendorNo').value,
                                                                                                  document.getElementById('leasecard'))" id="btn2"></div>
                            <input id="vendorNo"
                                   th:name="vendorNo"
                                   th:field="*{vendorNo}"
                                   th:errorclass="is-invalid"
                                   class="form-control"
                                   type="text"
                                   oninput="SearchVendor(document.getElementById('vendorNo').value,
                                                 document.getElementById('leasecard'))"
                                   onblur="HideLookup()"
                            />
                        </div>
                    </div>
                        <div class="form-group col-md-3 mb-3">
                        <label for="dimension" class="font-weight-bold" th:text="#{lease_dimension}">Dimension</label>
                        <input id="dimension"
                               th:name="dimension"
                               th:field="*{dimension}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control"
                               placeholder="Dimension"/>
                        <small
                                id="dimensionHelpInLine"
                                class="invalid-feedback bg-danger text-light rounded">
                            Invalid dimension
                        </small>
                    </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3 mb-3">
                        <label for="invoicetype" class="font-weight-bold" th:text="#{lease_invoice_type}">Invoice type</label>
                        <select id="invoicetype"
                                th:name="invoicetype"
                                th:field="*{invoiceType}"
                                th:errorclass="is-invalid"
                                type="text"
                                class="form-control">
                            <option value="" th:text="#{lease_invoice_select}">- Select invoice type -</option>
                            <option th:each="invType : ${T(bg.lease.model.enums.InvoiceType).values()}"
                                    th:value="${invType}" th:text="${invType}" th:selected="${invType}==*{invoiceType}"></option>
                        </select>
                        <small
                                id="invoicetypeHelpInLine"
                                class="invalid-feedback bg-danger text-light rounded">
                            Invalid invoice type
                        </small>
                    </div>
                        <div class="form-group col-md-3 mb-3">
                        <label for="principalPeriod" class="font-weight-bold" th:text="#{lease_principal_period}">Principal Period</label>
                        <input id="principalPeriod"
                               th:name="principalPeriod"
                               th:field="*{principalPeriod}"
                               th:errorclass="is-invalid"
                               type="number"
                               class="form-control"
                               placeholder="Principal period"/>
                        <small
                                id="principalPeriodHelpInline"
                                class="invalid-feedback bg-danger text-light rounded">
                            Invalid principal period
                        </small>
                    </div>
                        <div class="form-group col-md-3 mb-3">
                        <label for="paymenttype" class="font-weight-bold" th:text="#{lease_payment_type}">Payment type</label>
                        <select id="paymenttype"
                                th:name="paymentType"
                                th:field="*{paymentType}"
                                th:errorclass="is-invalid"
                                type="text"
                                class="form-control">
                            <option value="" th:text="#{lease_payment_select}">- Select payment type -</option>
                            <option th:each="payType : ${T(bg.lease.model.enums.PaymentType).values()}"
                                    th:value="${payType}" th:text="${payType}" th:selected="${payType}==*{paymentType}"></option>
                        </select>
                        <small
                                id="paymenttypeHelpInLine"
                                class="invalid-feedback bg-danger text-light rounded">
                            Invalid payment type
                        </small>
                    </div>
                        <div class="form-group col-md-3 mb-3">
                        <label for="loanPaid" class="font-weight-bold" th:text="#{lease_loan_paid}">Loan paid</label>
                        <select id="loanPaid"
                                th:name="loanPaid"
                                th:field="*{loanPaid}"
                                th:errorclass="is-invalid"
                                type="text"
                                class="form-control">
                            <option value="" th:text="#{lease_loan_paid_select}">- Select loan paid -</option>
                            <option th:each="loanPaid : ${T(bg.lease.model.enums.LoanPaid).values()}"
                                    th:value="${loanPaid}" th:text="${loanPaid}" th:selected="${loanPaid}==*{loanPaid}"></option>
                        </select>
                        <small
                                id="loanpaidHelpInLine"
                                class="invalid-feedback bg-danger text-light rounded">
                            Invalid loan paid
                        </small>
                    </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="page2">
                    <div class="row">
                        <div class="form-group col-md-3 mb-3">
                            <label for="loantype" class="font-weight-bold" th:text="#{lease_loan_type}">Loan type</label>
                            <select id="loantype"
                                    th:name="loanType"
                                th:field="*{loanType}"
                                th:errorclass="is-invalid"
                                type="text"
                                class="form-control">
                                <option value="" th:text="#{lease_loan_type_select}">- Select Loan type -</option>
                                <option th:each="loanType : ${T(bg.lease.model.enums.LoanType).values()}"
                                    th:value="${loanType}" th:text="${loanType}" th:selected="${loanType}==*{loanType}"></option>
                            </select>
                            <small
                                id="loantypeHelpInLine"
                                class="invalid-feedback bg-danger text-light rounded">
                                Invalid loan type
                            </small>
                        </div>
                        <div class="form-group col-md-3 mb-3">
                        <label for="noFirstMonth" class="font-weight-bold" th:text="#{lease_first_month}">No. first month</label>
                        <input id="noFirstMonth"
                               th:name="noFirstMonth"
                               th:field="*{noFirstMonth}"
                               th:errorclass="is-invalid"
                               type="number"
                               class="form-control"
                               placeholder="No. first month"/>
                        <small
                                id="noFirstMonthHelpInline"
                                class="invalid-feedback bg-danger text-light rounded">
                        </small>
                    </div>
                        <div class="form-group col-md-3 mb-3">
                        <label for="interestWithVAT" class="font-weight-bold" th:text="#{lease_interest_with_vat}">Interest with VAT</label>
                        <input id="interestWithVAT"
                               th:name="interestWithVAT"
                               th:fielid="*{interestWithVAT}"
                               th:checked="*{interestWithVAT}"
                               th:errorclass="is-invalid"
                               type="checkbox"
                               class="form-control">
                        <small
                                id="interestWithVATHelpInline"
                                class="invalid-feedback bg-danger text-light rounded">
                            interest with VAT
                        </small>
                    </div>
                        <div class="form-group col-md-3 mb-3">
                        <label for="datemodifypercent" class="font-weight-bold" th:text="#{lease_date_modify}">Date modify percent</label>
                        <input id="datemodifypercent"
                                th:name="dateModifyPercent"
                               th:field="*{dateModifyPercent}"
                               th:errorclass="is-invalid"
                               type="date"
                               class="form-control">
                        <small
                                id="datemodifypercentHelpInline"
                                class="invalid-feedback bg-danger text-light rounded">
                            Date
                        </small>
                    </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3 mb-3">
                        <label for="currencyCode" class="font-weight-bold" th:text="#{lease_currency}">Currency code</label>
                        <input id="currencyCode"
                               th:name="currencyCode"
                               th:field="*{currencyCode}"
                               th:errorclass="is-invalid"
                               type="text"
                               class="form-control"
                               placeholder="Currency code"/>
                        <small
                                id="currencyCodeHelpInline"
                                class="invalid-feedback bg-danger text-light rounded">
                            Currency code maximum 10 characters.
                        </small>
                    </div>
                        <div class="form-group col-md-3 mb-3">
                        <label for="leaseStatus" class="font-weight-bold" th:text="#{lease_status}">Loan status</label>
                        <select id="leaseStatus"
                                th:name="leaseStatus"
                                th:field="*{leaseStatus}"
                                th:errorclass="is-invalid"
                                type="text"
                                class="form-control">
                            <option value="" th:text="#{lease_status_select}">- Select Lease status -</option>
                            <option th:each="leaseStatus : ${T(bg.lease.model.enums.LeaseStatus).values()}"
                                    th:value="${leaseStatus}" th:text="${leaseStatus}" th:selected="${leaseStatus}==*{leaseStatus}"></option>
                        </select>
                        <small
                                id="leaseStatusHelpInLine"
                                class="invalid-feedback bg-danger text-light rounded">
                            Invalid lease status
                        </small>
                    </div>
                        <div class="form-group col-md-3 mb-3">
                        <label for="payoffDate" class="font-weight-bold" th:text="#{lease_begin_date}">Begin payoff date</label>
                        <input id="payoffDate"
                               th:name="beginPayOffDate"
                               th:field="*{beginPayOffDate}"
                               th:errorclass="is-invalid"
                               type="date"
                               class="form-control"/>
                        <small
                                id="payoffDateHelpInline"
                                class="invalid-feedback bg-danger text-light rounded">
                            Invalid payoff date
                        </small>
                    </div>
                        <div class="form-group col-md-3 mb-3">
                        <label for="graceperiod" class="font-weight-bold" th:text="#{lease_principal_grace}">Principal grace period</label>
                        <input id="graceperiod"
                               th:name="principalGracePeriod"
                               th:field="*{principalGracePeriod}"
                               th:errorclass="is-invalid"
                               type="number"
                               class="form-control"
                               placeholder="Principal grace period"/>
                        <small
                                id="graceperiodHelpInline"
                                class="invalid-feedback bg-danger text-light rounded">
                            Period is positive.
                        </small>
                    </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="page3">
                    <div class="row">
                        <div class="form-group col-md-3 mb-3">
                            <label for="principalinterest" class="font-weight-bold" th:text="#{lease_principal_interest}">Principal Interest</label>
                            <input id="principalinterest"
                                   th:name="principalInterest"
                                   th:field="*{principalInterest}"
                                   th:errorclass="is-invalid"
                                   type="number" step="0.01"
                                   class="form-control"
                                   placeholder="Principal interest"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-3 mb-3">
                            <label for="principalExclVat" class="font-weight-bold" th:text="#{lease_principal_excl}">Principal Excl VAT</label>
                            <input id="principalExclVat"
                                   th:name="principalExclVAT"
                                   th:field="*{principalExclVAT}"
                                   th:errorclass="is-invalid"
                                   type="number" step="0.01"
                                   class="form-control"
                                   placeholder="Principal Excl VAT"/>
                        </div>
                        <div class="form-group col-md-3 mb-3">
                            <label for="principalInclVat" class="font-weight-bold" th:text="#{lease_principal_incl}">Principal Incl VAT</label>
                            <input id="principalInclVat"
                                   th:name="principalInclVAT"
                                   th:field="*{principalInclVAT}"
                                   th:errorclass="is-invalid"
                                   type="number" step="0.01"
                                   class="form-control"
                                   placeholder="Principal Incl VAT"/>
                        </div>
                        <div class="form-group col-md-3 mb-3">
                            <label for="beginPaymentExclVat" class="font-weight-bold" th:text="#{lease_begin_excl}">Begin Payment Excl VAT</label>
                            <input id="beginPaymentExclVat"
                                   th:name="beginPaymentExclVAT"
                                   th:field="*{beginPaymentExclVAT}"
                                   th:errorclass="is-invalid"
                                   type="number" step="0.01"
                                   class="form-control"
                                   placeholder="Begin Payment Excl VAT"/>
                        </div>
                        <div class="form-group col-md-3 mb-3">
                            <label for="beginPaymentInclVat" class="font-weight-bold" th:text="#{lease_payment_incl}">Begin Payment Incl VAT</label>
                            <input id="beginPaymentInclVat"
                                   th:name="beginPaymentInclVAT"
                                   th:field="*{beginPaymentInclVAT}"
                                   th:errorclass="is-invalid"
                                   type="number" step="0.01"
                                   class="form-control"
                                   placeholder="Begin Payment Incl VAT"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive text-light">
                <table class="table table-striped table-bordered">
                    <thead >
                        <tr class="ui-icon-key">
                            <th >
                                <a th:href="@{/leasedetailcard/{code}/0(code=${leaseCardDTO.contractNo})}">
                                    <img class="img_action" src="/images/add.png">
                                </a>
                                <span th:text="#{table_actions}"/>
                            </th>
                            <th th:text="#{vehicle_no}">Vehicle no</th>
                            <th th:text="#{vehicle_plate}">Vehicle plate number</th>
                            <th th:text="#{lease_principal_excl}">Principal Excl Vat</th>
                            <th th:text="#{lease_principal_incl}">Principal Incl Vat</th>
                        </tr>
                    </thead>
                    <tbody class=" fixedTable">
                        <tr class="block" th:each="List : ${leaseDetails}">
                            <td>
                                <a type="button" class="btn btn-link"
                                   th:href="@{/leasedetailcard/{code}/{lineno}
                                        (code=${List.getContractNo()},lineno=${List.getLineNo()})}">
                                    <img class="img_action" src="/images/edit.png">
                                </a>
                                <a type="button" class="btn btn-link"
                                   th:href="@{/deleteleasedetailcard/{code}/{lineno}
                                        (code=${List.getContractNo()},lineno=${List.getLineNo()})}">
                                    <img class="img_action" src="/images/delete.png">
                                </a>
                                <a type="button" class="btn btn-link"
                                   th:href="@{/payofflist/{code}/{lineno}
                                        (code=${List.getContractNo()},lineno=${List.getLineNo()})}">
                                    <img class="img_action" src="/images/payoff.png">
                                </a>
                            </td>
                            <td class="td-hide" th:text="${List.getContractNo()}"/>
                            <td class="td-hide" th:text="${List.getLineNo()}"/>
                            <td th:text="${List.getVehicleNo()}"/>
                            <td th:text="${List.getNumberPlate()}"/>
                            <td th:text="${List.getPrincipalExclVat()}"/>
                            <td th:text="${List.getPrincipalInclVat()}"/>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a id="generateentries" class="btn btn-success" type="button"
                   th:href="@{/leasecard/{code}/generateplan(code=${leaseCardDTO.contractNo})}" th:text="#{button_generate_plan}">Generate plan</a>
                <a id="deleteentries" class="btn btn-toolbar" type="button"
                   th:href="@{/leasecard/{code}/deleteplan(code=${leaseCardDTO.contractNo})}" th:text="#{button_delete_plan}">Delete plan</a>
                <button id="savecard" class="btn btn-primary" type="submit" th:text="#{button_save}">Save</button>
                <a id="cancelcard" class="btn btn-secondary" type="button" th:href="@{/leasinglist}" th:text="#{button_cancel}">Cancel</a>
            </div>
        </form>
    </div>
</th:block>