<th:block>
    <div id="leasedetailcard" class="container" th:if="${showDetailCard}">
        <h2 class="text-center text-dark">Lease detail card</h2>
        <form
                th:action="@{/leasedetailcard}"
                th:method="post"
                th:object="${leaseDetailDTO}"
                class="text-white main-form mx-auto col-md-8 d-flex flex-column justify-content-center">
            <div class="row">
                <input class="td-hide" id="contractNo" th:field="*{contractNo}"/>
                <div class="form-group col-md-6 mb-3">
                    <label for="vehicleNo" class="font-weight-bold">Vehicle No.</label>
                    <input id="vehicleNo"
                           th:field="*{vehicleNo}"
                           th:errorclass="is-invalid"
                           type="text"
                           class="form-control"
                           placeholder="Vehicle No."/>
                </div>
                <div class="form-group col-md-6 mb-3">
                    <label for="numberPlate" class="font-weight-bold">Number Plate</label>
                    <input id="numberPlate"
                           th:field="*{numberPlate}"
                           th:errorclass="is-invalid"
                           type="text"
                           class="form-control"
                           placeholder="Number Plate"/>
                </div>
            </div>
            <div class="modal-footer">
                <button id="savedetailcard" class="btn btn-primary" type="submit">Save</button>
                <a id="canceldetailcard" class="btn btn btn-secondary" type="button" th:href="@{/leasecard/{code}(code=${leaseDetailDTO.contractNo})}">Cancel</a>
            </div>
        </form>
    </div>
</th:block>