<th:block>
    <div id="countrylist" class="container" th:if="${hideCard}">
        <h2 class="text-center text-dark">Country list</h2>
        <form
                th:action="@{/countrylist}"
                th:method="post"
                class="main-form text-white">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr class="ui-icon-key">
                            <th>actions</th>
                            <th>Country No.</th>
                            <th>Country Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="block" th:each="regionList : ${countryList}">
                            <td>
                                <a type="button" class="btn btn-link" th:href="@{/countrycard/{code}(code=${regionList.getNo()})}">edit</a>
                                <!---
                                <button type="button" class="btn btn-link" th:onclick="'DeleteCountryCard(this)'">delete</button>
                                --->
                            </td>
                            <td th:text="${regionList.getNo()}"/>
                            <td th:text="${regionList.getName()}"/>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <a id="newcard" class="key btn btn-lg" th:href="@{/countrycard}">New</a>
                <a id="card" class="btn btn btn-secondary" th:href="@{/}">Close</a>
            </div>
        </form>
    </div>
</th:block>